.nTime{
    padding-top: 5px;
}
.redPoint{
    position: relative;
}

.redPoint::before{
    content: " ";
    border: 3px solid red;/*设置红色*/
    border-radius:3px;/*设置圆角*/
    position: absolute;
    z-index: 1000;
    right: 0%;
    margin-right: -5px;
    margin-top: -5px;
}