<html  xmlns:th="http://www.thymeleaf.org" lang="en">

    <th:block th:fragment="head">
        <meta http-equiv="content-type" content="text.html" charset="UTF-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <link rel="stylesheet"  href="/css/bootstrap-theme.min.css" >
        <link rel="stylesheet" href="/css/custom/common.css">
        <script src="/jquery/jquery-3.5.1.min.js"></script>
        <script type="application/javascript" src="/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="/js/custom/common.js"></script>
    </th:block>

    <th:block th:fragment="simditor">
    <link rel="stylesheet" type="text/css" href="simditor/styles/simditor.css" />
    <link rel="stylesheet" href="simditor/site/assets/plugins/fullscreen/styles/simditor-fullscreen.css" />
    <link rel="stylesheet" type="text/css" href="simditor/site/assets/plugins/checklist/styles/simditor-checklist.css" />

    <script type="text/javascript" src="simditor/site/assets/scripts/module.js"></script>
    <script type="text/javascript" src="simditor/site/assets/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="simditor/site/assets/scripts/uploader.js"></script>
    <script type="text/javascript" src="simditor/lib/simditor.js"></script>
    <script src="simditor/site/assets/plugins/autosave/lib/simditor-autosave.js"></script>
    <script type="text/javascript" src="simditor/site/assets/plugins/fullscreen/lib/simditor-fullscreen.js"></script>
    <script type="text/javascript" src="simditor/site/assets/plugins/checklist/lib/simditor-checklist.js"></script>
    <script type="text/javascript" src="simditor/site/assets/plugins/mark/lib/simditor-mark.js"></script>
    </th:block>

    <th:block th:fragment="sdInit">
        <script type="text/javascript">
            $(function(){
                let $username = $("#noteUsername").val();
                Simditor.locale = 'en-US';
                new Simditor({
                    textarea: $('#inputContent'),
                    toolbar: [
                        'title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', 'mark',
                        '|','alignment', 'checklist', 'ol', 'ul',  'code', 'table',
                        '|', 'blockquote','link', 'hr',
                        '|','fullscreen'
                    ],
                    placeholder:'Write your notes here...',
                    defaultImage:'images/image.png',
                    params:{
                        'key':'v'
                    },  // define hidden inputs in the form
                    autosave: 'as-'+$username,
                    pasteImage:true,    //whether uploading by pasting images from the clipboard is supported
                    cleanPaste:true, //Remove all styles in paste content automatically.
                    upload:false
                    //     {
                    //     url:'/api/api.php',//后台接收图片地址
                    //     params:null,
                    //     fileKey:'uploadFile',//后台接收图片需要
                    //     connectionCount:3,//允许同时上传图片数
                    //     leaveConfirm:'正在上传图片',//如果在上传文件时离开页面，则会显示此消息；
                    // }

                });
            });

        </script>
    </th:block>

    <header th:fragment="nav">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home"><b>RaveNote</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="padding-left: 10px">
                    <li class="active" style="padding-left: 10px"><a th:if="${session.userAccount != null}" th:href="@{/my-notes(username=${session.userAccount.getUsername()})}">&nbsp;My&nbsp;&nbsp;Notes&nbsp;<span class="sr-only">(current)</span></a></li>
                    <li class="active" style="padding-left: 10px"><a th:if="${session.userAccount != null}" th:href="@{/my-replies(username=${session.userAccount.getUsername()})}">&nbsp;My Replies<span class="sr-only">(current)</span></a></li>
                    <li class="active" style="padding-left: 10px"><a th:if="${session.userAccount != null}" th:href="@{/my-collections(username=${session.userAccount.getUsername()})}">Collections<span class="sr-only">(current)</span></a></li>
                </ul>
                <form class="navbar-form navbar-left" style="padding-left: 50px">
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" placeholder="Search">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:if="${session.userAccount == null}" href="/signin">Sign in</a></li>
                    <li th:if="${session.userAccount != null}"  class="dropdown">
                        <a href="#" class="dropdown-toggle" th:utext="${'<span class=''glyphicon glyphicon-triangle-bottom'' aria-hidden=''true''></span> ' +session.userAccount.getUsername()}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User</a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/profile(username=${session.userAccount.getUsername()})}">My profile</a></li>
                            <li><a th:href="@{/notification(username=${session.userAccount.getUsername()})}">Notifications&ensp;<span class="badge" th:id="notiBadge">0</span></a></li>
                            <li th:if="${session.userAccount.getUsername()=='admin'}"><a href="/admin">Backstage</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/fail">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

    </nav>
</header>

    <div th:fragment="footShort">
        <footer class="shortType">
            © 2020 · RaveNote · Developer: Zhaoyang Li · MSc Project of the University of Bath
        </footer>
    </div>

    <div th:fragment="footLong">
        <footer class="longType">
            © 2020 · RaveNote · Developer: Zhaoyang Li · MSc Project of the University of Bath
        </footer>
    </div>

</html>
