<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- common head block   -->
    <th:block th:insert="~{fragments :: head}"></th:block>

    <!-- simditor configuration -->
    <th:block th:insert="~{fragments :: simditor}"></th:block>



    <link rel="stylesheet" href="/css/custom/lecture.css">
    <script type="application/javascript" src="/js/custom/lecture.js"></script>

    <title>RaveNote - Live Note</title>
</head>

<body>

    <!-- Navigation bar -->
    <div th:replace="fragments::nav"></div>

    <!--  Lecture Info  -->
    <div th:if="${session.userAccount != null}" class="container-fluid center-Container">
        <div class="row">
            <div>
                <ol id="breadcrumb" class="breadcrumb">
                    <li><a href="/">Units</a></li>
                    <li><a th:href="@{unit(unitId=${lectureDTO.getUnitId()})}">Lectures</a></li>
                    <li class="active">Notes</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="row top-part">
                    <div class="infoTitle">
                        <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&ensp;Lecture Info</h3>
                    </div>
                </div>
                <hr>
                <div class="row main-display">
                    <div th:utext="'<b>Unit id:</b> '+${lectureDTO.getUnitId()}"></div>
                    <br>
                    <div th:utext="'<b>Lecture id:</b> '+${lectureDTO.getLectureId()}"></div>
                    <br>
                    <div th:utext="'<b>Title:</b> '+${lectureDTO.getLectureTitle()}"></div>
                    <br>
                    <div><span th:utext="'<b>Recorded lecture:</b> '"></span><a th:href="${lectureDTO.getVideoUrl()}" th:text="${lectureDTO.getVideoUrl()}"></a></div>
                </div>
                <br>
            </div>

            <!-- Slides display area  -->
            <div th:if="${session.userAccount != null}" class="col-lg-9 col-md-9 col-xs-12">
                <div class="row top-part">
                    <div class="infoTitle">
                        <h3><span class="glyphicon glyphicon-expand" aria-hidden="true"></span>&ensp;Lecture Slides</h3>
                    </div>
                </div>
                <hr>
                <!-- Slide -->
                <div th:if="${lectureDTO.getPageDTOS().size() != 0}" class="row main-display">
                    <img class="slide center-block" th:src="${lectureDTO.getPageDTOS()[slideId].getSlideUrl()}" alt="Hi">
                </div>

                <!-- Pagination bar -->
                <div class="row">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li th:class="${slideId==0}?'disabled' : ''">
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId=0'}">&lt;&lt;</a>
                                </li>
                                <li th:class="${slideId==0}?'disabled' : ''">
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${(slideId)-1}}">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>
                                <li th:if="${(slideId)-2 >=1}" >
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${(slideId)-3}}" th:text="${(slideId) -2}" > 1 </a>
                                </li>
                                <li th:if="${(slideId)-1 >=1}" >
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${(slideId)-2}}" th:text="${(slideId) -1}" > 1 </a>
                                </li>
                                <li th:if="${slideId >=1}" >
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${(slideId)-1}}" th:text="${slideId}" > 1 </a>
                                </li>
                                <li class="active">
                                    <a href="#" th:text="${slideId + 1}" >1</a>
                                </li>
                                <li th:if="${slideId+2 <= lectureDTO.getNumOfPages()}" >
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${(slideId)+1}}" th:text="${ slideId +2}" >1</a>
                                </li>
                                <li th:if="${slideId+3 <= lectureDTO.getNumOfPages()}" >
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${(slideId)+2}}" th:text="${ slideId +3}" >1</a>
                                </li>
                                <li th:if="${slideId+4 <= lectureDTO.getNumOfPages()}" >
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${(slideId)+3}}" th:text="${ slideId +4}" >1</a>
                                </li>
                                <li th:class="${slideId+1 == lectureDTO.getNumOfPages()}?'disabled' : ''">
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${(slideId)+1}}">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li th:class="${slideId +1== lectureDTO.getNumOfPages()}?'disabled' : ''">
                                    <a th:href="@{'/lecture?unitId='+${lectureDTO.getUnitId()}+'&lectureId='+${lectureDTO.getLectureId()}+'&slideId='+${lectureDTO.getNumOfPages()-1}}">
                                        <span aria-hidden="true">&gt;&gt;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

            </div>
        </div>
    </div>

    <!--  Student notes area -->
    <div th:if="${session.userAccount != null}" class="container-fluid center-Container" id="notesArea">
        <div class="row top-part">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="topList">
                    <span class="listTitle"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span><span>&ensp;Student Notes</span></span>
                    <span style="margin-left: 40px">
                        <span>
                            <button id="myNotesButton" type="button" class="btn btn-default">My notes</button>
                        </span>
                        <span style="margin-left: 10px">
                            <button id="myCollectionButton" type="button" class="btn btn-default"> My collection</button>
                        </span>
                    </span>
                    <span><button class="btn btn-primary pull-right" id="noteButton">Create note</button></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="mainNote" th:id="${(noteStat.count)*1000}" th:if="${note.getParentId()==0}" th:each="note : ${lectureDTO.getPageDTOS()[slideId].getNotes()}">
                <div class="noteTop">
                    <span class="noteTitle" th:utext="${note.getTitle()}"></span>
                    <button th:id="${(noteStat.count)*1000+1}" class="hideShow pull-right btn btn-sm btn-default">Hide/Show Contents</button>
                </div>
                <div class="noteContent" th:id="${(noteStat.count)*1000+2}" th:utext="${note.getContent()}"></div>
                <div class="noteStatic">
                    <span><input th:id="${(noteStat.count)*1000+4}" type="hidden" th:value="${note.getId()}"></span>
                    <span class="staticCommon"><a th:href="@{/note(noteId=${note.getId()})}">Check all replies</a></span>
                    <span class="staticCommon" th:if="${session.userAccount.getUsername() != 'admin'}"><button th:id="${(noteStat.count)*1000+5}" type="button" class="btn btn-link colButtons addCollection" >Add to collection</button></span>
                    <span class="staticCommon"><button th:id="${(noteStat.count)*1000+6}" type="button" class="btn btn-link colButtons removeCollection" style="display:none;">Remove from collection</button></span>
                    <span class="staticManage">
                        <span class="manageLink" th:if="${session.userAccount.getUsername() != note.getUsername() && session.userAccount.getUsername() != 'admin' }"><button th:id="${(noteStat.count)*1000+7}" type="button" class="btn btn-link colButtons report" data-toggle="modal" data-target="#myModal">Report this note</button></span>
                        <span class="manageLink" th:if="${session.userAccount.getUsername() == note.getUsername()}"><a th:href="@{/edit(noteId=${note.getId()})}">Edit</a></span>
                        <span class="manageLink" th:if="${session.userAccount.getUsername() == note.getUsername() || session.userAccount.getUsername() == 'admin' }"><a th:href="@{/delete(noteId=${note.getId()})}" onclick='return confirm("Are you sure you want to delete this note? This will permanently remove this note and all of the replies in it and cannot be undone.")'>Delete</a></span>
                    </span>
                </div>
                <div class="noteHr"></div>
                <div class="noteInfo">
                    <div class="infoCommon noteAuthor">
                        <span><input th:id="${(noteStat.count)*1000+3}" type="hidden" th:value="${note.getUsername()}"></span>
                        <span  th:utext="'Author: '"></span>
                        <span><a th:href="@{/profile(username=${note.getUsername()})}" th:title="'Check User Profile'"><span th:utext="${note.getUsername()}"></span></a></span>
                    </div>
                    <div>
                        <span class="infoCommon noteTime" th:utext="'Created at ' + ${note.getGmtCreate()}"></span>
                        <span th:if="${note.getGmtCreate().compareTo(note.getGmtModified()) != 0}" class="infoCommon noteTime" th:utext="'Modified at ' + ${note.getGmtModified()}"></span>
                        <span><input type="hidden" th:id="${(noteStat.count)*1000+8}" th:value="${noteStat.count}"></span>
                        <span class="infoCommon noteTime pull-right" th:utext="${noteStat.count} + '#'"></span>
                    </div>
                </div>
            </div>
            <div class="loadMore" th:align="center">
                <span>
                    <button id="loadButton1" type="button" class="btn btn-link" style="display: none">Load more</button>
                    <button id="loadButton2" type="button" class="btn btn-link" style="display: none">Load more</button>
                    <button id="loadButton3" type="button" class="btn btn-link" style="display: none">Load more</button>
                </span>
                <span style="margin-left: 10px">
                    <button id="loadAllButton" type="button" class="btn btn-link" style="display: none">Load all</button>
                </span>

            </div>
            <div th:if="${lectureDTO.getPageDTOS()[slideId].getNotes().size()==0}" class="emptyWarning" th:utext="'There are 0 notes in this page'"></div>
        </div>
    </div>

    <!-- Report modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Report illegal contents</h4>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div><h5>Why do you think this note is illegal?</h5></div>
                        <label for="reportContents"></label><textarea name="reportContents" id="reportContents" cols="30" rows="10"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="reportSubmit">submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- Create Notes area -->
    <div th:if="${session.userAccount != null}" class="container-fluid center-Container" id="editor">
        <div class="row top-part">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="topList">
                    <span class="listTitle"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span>&ensp;Create Notes</span></span>
                    <span><button class="btn btn-primary pull-right" id="hideEditor">Hide editor</button></span>
                </div>
            </div>
        </div>
        <hr>

        <!--    Simditor    -->
        <!--/*@thymesVar id="note" type="org.zhaoyangli.ravenote.model.Note"*/-->
        <div id="noteForm">
            <div class="form-group">
                <label for="inputTitle">Title</label>
                <input type="text" class="form-control requiredTitle" id="inputTitle" name="title" placeholder="Title (required)">
            </div>
            <div class="form-group">
                <label for="inputContent">Content</label>
                <textarea id="inputContent" name="content" placeholder="Write your notes here.." autofocus></textarea>
            </div>
            <input type="hidden" th:value="${lectureDTO.getPageDTOS()[slideId].getId()}" id="notePageId" name="pageId">
            <input type="hidden" th:value="${session.userAccount.getUsername()}" id="noteUsername" name="username">
            <input type="hidden" th:value="${0}" id="noteParentId" name="parentId">
            <button id="submitButton" class="btn btn-success" disabled="disabled" title="A title is required here.">Submit</button>
        </div>
    </div>

    <!--  Simditor Initialisation  -->
    <th:block th:insert="~{fragments :: sdInit}"></th:block>

    <!-- common foot block   -->
    <th:block th:insert="~{fragments :: footLong}"></th:block>

</body>
</html>