<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- common head block   -->
    <th:block th:insert="~{fragments :: head}"></th:block>

    <link rel="stylesheet" href="css/custom/my.css">
    <script type="application/javascript" src="/js/custom/lecture.js"></script>

    <title>RaveNote - My Notes</title>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="fragments::nav"></div>

<div class="container-fluid center-Container">

    <!--     page title     -->
    <div class="row top-part">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="topList">
                <span class="listTitle"><span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span><span>&ensp;My Notes</span></span>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="mainNote" th:id="${myNoteDTOStat.count*1000}" th:each="myNoteDTO : ${myNoteDTOS}">
            <div class="nBody">
                <div>
                    <span th:utext="'<b>Title: </b>'"></span>
                    <span><a th:href="@{/note(noteId=${myNoteDTO.getId()})}" th:utext="${myNoteDTO.getTitle()}">Title</a></span>
                </div>
                <div>
                    <span th:utext="'<b>Unit id: </b>'"></span>
                    <span><a th:href="@{/unit(unitId=${myNoteDTO.getUnitId()})}" th:utext="${myNoteDTO.getUnitId()}">Unit ID</a></span>
                </div>
                <div>
                    <span th:utext="'<b>Lecture id: </b>'"></span>
                    <span><a th:href="@{lecture(unitId=${myNoteDTO.getUnitId()},lectureId=${myNoteDTO.getLectureId()},slideId=${myNoteDTO.getSlideId()})}" th:utext="${myNoteDTO.getLectureId()}">Lecture ID</a></span>
                </div>
            </div>
            <div class="nTime">
                <div class="noteTime" th:text="'Created at: '+${myNoteDTO.getGmtCreate()}"></div>
                <div th:if="${myNoteDTO.getGmtCreate()!=myNoteDTO.getGmtModified()}" class="noteTime" th:text="'Modified at: '+${myNoteDTO.getGmtModified()}"></div>
            </div>
            <hr>
        </div>

        <!--   load module     -->
        <div class="loadMore" th:align="center">
                <span>
                    <button id="loadButton1" type="button" class="btn btn-link" style="display: none">Load more</button>
                    <button id="loadButton2" type="button" class="btn btn-link" style="display: none">Load more</button>
                    <button id="loadButton3" type="button" class="btn btn-link" style="display: none">Load more</button>
                </span>
            <span style="margin-left: 10px">
                    <button id="loadAllButton" type="button" class="btn btn-link" style="display: none">Load all</button>
                </span>
        </div>

        <div th:if="${myNoteDTOS.size()==0}" class="emptyWarning">
            <span th:utext="'You have not create notes, go to take one!'"></span>
        </div>

    </div>
</div>

    <!-- common foot block   -->
    <th:block th:insert="~{fragments :: footLong}"></th:block>

</body>
</html>