<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text.html" charset="UTF-8">
    <th:block th:insert="~{fragments :: head}"></th:block>
    <link rel="stylesheet" href="css/custom/unit.css">

    <title>RaveNote - Lecture Details</title>
</head>
<body>
    <div th:replace="fragments::nav"></div>

    <div th:if="${session.userAccount != null}" class="container-fluid center-Container">

        <!--   breadcrumb navigator     -->
        <div class="row">
            <div>
                <ol id="breadcrumb" class="breadcrumb">
                    <li><a href="/">Units</a></li>
                    <li class="active">Lectures</li>
                </ol>
            </div>
        </div>

        <!--     page title     -->
        <div class="row top-part">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span><span th:text="' '+${unitId}"></span>&ensp;-&ensp;Lectures</h3>
            </div>
        </div>
        <hr>

        <div class="main-display" th:each=" lecture : ${lectures}">
            <div>
                <h4 class="unitId-display">
                    <a th:href="@{'/lecture?unitId='+${unitId}+'&lectureId='+${lecture.getLectureId()}+'&slideId=0'}" th:text="${lecture.getLectureId()}+' - '+${lecture.getLectureTitle()}"></a>
                </h4>
            </div>
            <div class="lecture-date">
                <p th:text="${#dates.format(lecture.getDate(),'yyyy-MM-dd')}"></p>
            </div>
            <hr>
        </div>
    </div>

    <!-- common foot block   -->
    <th:block th:insert="~{fragments :: footShort}"></th:block>

</body>
</html>